<header>
    <h1>Keven Leon's Kaleidoscopic Lion ✦ ITIS 3135</h1>
    <h4><i>Transforming moments into melodies, one personalized soundtrack at a time</i></h4>
    <nav>
      ||
     <a  href="./">Home</a>
     ✦ 
     <a href="introduction.html">Introduction</a> 
     ✦ 
     <a href="contract.html">Contract</a>
     ✦ 
     <a href="tables.html">Tables</a>
     ✦ 
     <a href="forms.html">Forms</a>
     ✦ 
     <a href="website_evaluation.html">Website Evalutations</a>
     ✦ 
     <a href="first-scripts.html">First Scripts</a>
     ✦ 
     <a href="about.html">About Us!</a>
     ✦ 
     <a href="byo_intro.html">BYO Intro</a>
     ✦ 
     <a href="calculator_try.html">Calculator</a>
     ✦ 
     <a href="arrays.html">Arrays</a>
     ||
    </nav>
    <nav>
      ||
      <a href="stuff/erm...      ﾉ.htm">CRAPPY</a>
      ✦ 
      <a href="project_overview.html">Project Overview</a>
      ✦ 
      <a href="hobby/index.html">Hobby</a>
      ✦ 
      <a href="project/review1.html">Site 1 Review</a>
      ✦ 
      <a href="project/review2.html">Site 2 Review</a>
     ||
    </nav>
  </header>