<header>
    <h1>Keven Leon's Kaleidoscopic Lion ✦ ITIS 3135</h1>
    <nav>
      ||
     <a  href="./">Home</a>
     ✦ 
     <a href="introduction.html">Introduction</a> 
     ✦ 
     <a href="contract.html">Contract</a>
     ✦ 
     <a href="">Tables</a>
     ✦ 
     <a href="">Forms</a>
     ✦ 
     <a href="">Website Evalutations</a>
     ✦ 
     <a href="">First Scripts</a>
     ✦ 
     <a href="about.html">About Us!</a>
     ✦ 
     <a href="">BYO Intro</a>
     ✦ 
     <a href="">Calculator</a>
     ✦ 
     <a href="">Arrays</a>
     ||
    </nav>
    <nav>
      ||
      <a href="stuff/erm...ヽ😊᭄ﾉ     👗     ﾉ╰">CRAPPY</a>
      ✦ 
      <a href="project_overview.html">Project Overview</a>
      ✦ 
      <a href="hobby/index.html">Hobby</a>
      
     ||
    </nav>
  </header>